.main_div{
  border-radius: 25px;
  background-color: rgb(80, 156, 28);
  
  width: 20vw;
  height: 40vw;
  margin: auto;
  position: relative;
  
}
.sub_div1{
  padding-left:10%;
  background-color: rgb(31, 29, 170);
    height:50%;
    
}
.suv_div2{
  
  
}
.text1{
  font-weight: bolder;
  
}
.text1,.text2,.text3{
  color: white;
}
@media only screen and (max-width: 600px) {
  
}